.chat {
  margin-top: 1rem;
}

div.chat-content {
  border-radius: .25rem;
  height: 40rem;
  margin-bottom: 2rem;
}
.chat-container {
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 10px;
  margin: 5px;
}
.user-container {
  padding: 10px;
  margin: 10px 0;
}
.chat-container:after {
  //content: "";
  //clear: both;
  //display: table;
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  display: block;
  width: 0;
  z-index: 1;
  margin-top:-15px;
  left: -15px;
  top:50%;
  border-color: transparent #fff;
}
.chat-container:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  display: block;
  width: 0;
  z-index: 0;
  margin-top:-15px;
  left:-16px;
  top: 50%;
  border-color: transparent red;
}


.time-right {
  float: right;
  color: #aaa;
}
.user-left {
  float: left;
  margin: 5px;
}
.user-left:hover{
  color: var(--light-color);
  cursor: pointer;
  background: var(--button-color);
  border-radius: 3px;
  padding: 5px;
}
а:active{
  color: var(--success-color);
}
.darker {
  color: var(--dark-color);
}
.darker:hover{
  color: var(--success-color);
}
.darker:focus{
  color: var(--success-color);
}
.card {
  height: 100%;
  overflow: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col-users{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80%;
}
.flex-col-chats{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea {
  overflow: auto;
}
