<div class="flex-row">
  <div class="flex-col-users">
    <div class="chat">
      <div class="chat-content">
        <div  class="card">
          <ul >
            <li class="user-container">
              <span><button class="btn" (click)="receiverEmail=''">Показать все</button></span>
              <span *ngFor="let email of getUniqueReceiver()" class="user-left" (click)="addReceiverEmail(email)">{{email}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col-chats">
    <div class="chat">
      <div class="chat-content" #scrollContainer>
        <div class="card"
             infiniteScroll
             [scrollWindow]="false"
             [infiniteScrollContainer]="scrollContainer"
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="10"
             (scrolled)="onScrollDown()"
             [alwaysCallback]="true">
          <ul *ngFor="let info of getInfoWithChatDto() | searchFilter: receiverEmail">
            <li class="chat-container">
              <span class="user-left" (click)="addReceiverEmail(info.email)">{{info.email}} </span>
              <span class="p10">{{info.message}} </span>
              <span class="time-right">{{info.date | date: 'd.MM.YY HH:mm'}} </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-col">
  <div>
    <label>Кому</label>
    <input [disabled]="true" type="text" *ngIf="receiverEmail" [value]="receiverEmail">
    <input [disabled]="true" type="text" *ngIf="!receiverEmail" value="Нужно выбрать получателя">
  </div>
  <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
    <div class="row">
      <div>
        <textarea placeholder="Вначале нужно выбрать с кем хотите поговорить" type="text" class="mat-form-field-autofill-control" name="message" id="input-message" ngModel></textarea>
      </div>
      <div>
        <button [disabled]="!receiverEmail" type="submit" class="btn">Отправить</button>
      </div>
    </div>
  </form>
</div>
