<div class="flex-row">
  <div class="flex-col-users">
    <div class="chat">
      <div class="chat-content">
        <div class="card">
          <span>Вам писали</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col-chats">
    <div class="chat">
      <div class="chat-content">
        <div class="card">
          <ul>
            <li class="list-group-item" *ngFor="let chatMessage of chatInfo">
              <strong>{{chatMessage.email}}: </strong>
              <span>{{chatMessage.message}}</span>
            </li>
          </ul>
        </div>
      </div>
      <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
        <div class="row">
          <div>
            <input type="text" class="mat-form-field-autofill-control" name="user" id="input-user" ngModel>
          </div>
          <div>
            <input type="text" class="mat-form-field-autofill-control" name="message" id="input-message" ngModel>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
