<mat-card class="list-card-width">
  <mat-card-title><img class="img-width" [src]="travels.imageSrc || imageNull"></mat-card-title>
  <mat-card-title class="center-align">{{travels.name}}</mat-card-title>
  <mat-card-subtitle class="right-align"><b>Цена за чел.</b> {{travels.costPerPeople}}</mat-card-subtitle>
  <mat-card-subtitle class="right-align"><b>Кол-во чел.</b> {{travels.peoplesCount}}</mat-card-subtitle>
  <mat-card-subtitle>
    <app-rating-list [travelId]="travels._id" [organizerEmail]="travels.userEmail"></app-rating-list>
  </mat-card-subtitle>
  <mat-card-content>
    <p><b>Куда:</b> {{travels.address}}</p>
    <p><b>Когда:</b> {{travels.date | date: 'dd.MM.yyyy'}}</p>
    <span class="p10"><app-read-more [text]="travels.description" [maxLength]="15"></app-read-more></span>
    <p *ngIf="!travels.travelTechnique.includes('') && travels.travelTechnique[0] !== 'null'"><b>Техника:</b> {{travels.travelTechnique | space: 'travels.travelTechnique'}}</p>
  </mat-card-content>
  <mat-card-actions>
    <span class="p10">
    <a matTooltip="Информация об организаторе" mat-button (click)="goJoin(travels.userEmail, travels._id)">
      <i class="material-icons left">info</i>
    </a>
      <a matTooltip="Написать в чат организатору поездки" mat-button (click)="openChatDialog(travels.userEmail)">
      <i class="material-icons left">message</i>
    </a>
      </span>
  </mat-card-actions>
</mat-card>







