<mat-card class="list-card-width">
  <mat-card-title>{{travels.title}}</mat-card-title>
  <mat-card-subtitle><b>Цена за чел.</b> {{travels.costPerPeople}}</mat-card-subtitle>
  <mat-card-subtitle><b>Кол-во чел.</b> {{travels.peoplesCount}}</mat-card-subtitle>
  <mat-card-content>
    <p>{{travels.description}}</p>
    <p><b>Техника:</b> {{travels.travelTechnique}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button (click)="openDialog()">Пожаловаться</a>
    <button matTooltip="Написать организатору" mat-button><mat-icon> message</mat-icon></button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>







