<span class="red-text">Созданная поездка</span>
<div class="freeSeats mat-form-field-label">
  Свободные места: <span class="red-text"> {{travel.peoplesCount - joinedUsers.length}}
  / {{travel.peoplesCount }} </span>
</div>


<div class="acceptedBlock" *ngIf="acceptedUsers.length > 0">
  <span class="mat-form-field-label">Участники</span>
  <table>
    <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Статус</th>
      <th>Чат</th>
      <th *ngIf="travel.status === 'ended'">Оставить отзыв</th>
      <th *ngIf="travel.status === 'ended'">Оставить рейтинг</th>
      <th>Жалоба</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of acceptedUsers, let j = index">
      <td>{{j + 1}}</td>
      <td (click)="openUserProfile(user.userEmail)"><span matTooltip="Открыть профиль пользователя"
                                                          class="pointer">{{user.fio || user.nickName}}</span></td>
      <td>{{user.status}}</td>
      <td>
        <button class="btn" (click)="openChat(user.userEmail)">Чат</button>
      </td>
      <td *ngIf="travel.status === 'ended'">
        <button [disabled]="user.isReviewSet" class="waves-effect waves-light btn"
                (click)="openReviewDialog(user.userEmail, user)">Отзыв
        </button>
      </td>
      <td *ngIf="travel.status === 'ended'">
        <div class="ratingContainer">
          <ngx-star-rating [(ngModel)]="user.rating" [id]="user.userEmail+travel._id"
                           [disabled]="user.isRatingSet"></ngx-star-rating>
          <button class="waves-effect waves-light btn"
                  (click)="saveRating(user.userEmail, user.rating, user)"
                  matTooltip="сохранить отзыв на попутчика"
                  [disabled]="user.isRatingSet"
          >Сохранить
          </button>
        </div>
      </td>
      <td>
        <button class="btn" (click)="openComplaint(user.userEmail)">
          Написать
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="requestsBlock" *ngIf="notAcceptedUsers.length > 0">
  <span class="mat-form-field-label">В ожидании разрешения</span>
  <table>
    <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Статус</th>
      <th>Чат</th>
      <th>Отказать</th>
      <th>Разрешить</th>
      <th>Жалоба</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of notAcceptedUsers, let j = index">
      <td>{{j + 1}}</td>
      <td (click)="openUserProfile(user.userEmail)"><span matTooltip="Открыть профиль пользователя"
                                                          class="pointer">{{user.fio || user.nickName}}</span></td>
      <td>{{user.status}}</td>
      <td>
        <button class="btn" (click)="openChat(user.userEmail)">Чат</button>
      </td>
      <td>

        <button
          (click)="openReject(user.userEmail, user)"
          class="btn "
          [disabled]="user.status === 'Отказано'"
        >
          Отказать
        </button>
      </td>
      <td>
        <button
          class="btn"
          (click)="acceptUser(user.userEmail, 'Ожидает оплаты', user)"
        >
          Разрешить
        </button>
      </td>
      <td>
        <button class="btn" (click)="openComplaint(user.userEmail)">
          Написать
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="buttonsBlock">
  <div *ngIf="travel.status !== 'ended'">
    <button
      *ngIf="travel.isPublic"
      class="waves-effect waves-light btn"
      matTooltip="Скрыть поездку на карте"
      (click)="setTravelPublic(travel._id)"
    >Скрыть
    </button>
    <button
      *ngIf="!travel.isPublic"
      class="waves-effect waves-light btn"
      (click)="setTravelPublic(travel._id)"
      matTooltip="Повторить поездку"
    >Повторить
    </button>
    <button
      class="waves-effect waves-light btn"
      (click)="openEditTravelModal(travel)"
    >
      Редактировать
    </button>
    <button
      class="waves-effect waves-light btn"
      (click)="deleteTravel(travel._id)"
      matTooltip="удалить поездку"
    >
      Удалить
    </button>
  </div>
  <br/>
  <button
    *ngIf="travel.status === 'started'"
    class="waves-effect waves-light btn"
    data-target="editTravel"
    matTooltip="Закончить поездку"
    (click)="updateTravelStatus('ended')"
  >Закончить
  </button>
</div>
