Свободные места - {{travel.peoplesCount - getJoinedUsers(travel.joinedUsers).length}} / {{travel.peoplesCount }}
<h3>Учасники поездки</h3>
<table>
  <thead>
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>Статус</th>
    <th>Страница пользователя</th>
    <th *ngIf="travel.status === 'ended'">Оставить отзыв и рейтинг</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of acceptedUsers, let j = index">
    <td>{{j + 1}}</td>
    <td>{{user.userEmail}}</td>
    <td>{{user.status}}</td>
    <td>
      <a class="waves-effect waves-light btn" [routerLink]="'/user-profile/'+user.userEmail">Открыть профиль</a>
    </td>
    <td *ngIf="travel.status === 'ended'">
      review and rating
    </td>
  </tr>
  </tbody>
</table>

<h3>Запросы на поездку</h3>
<table>
  <thead>
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>Статус</th>
    <th>Отказать</th>
    <th>Разрешить</th>
    <th>Страница пользователя</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of notAcceptedUsers, let j = index">
    <td>{{j + 1}}</td>
    <td>{{user.userEmail}}</td>
    <td>{{user.status}}</td>
    <td>
      <button
        data-target="makeOffer"
        class="btn"
        (click)="updateJoinedUserStatus(user.userEmail, 'Отказано')"
      >
        Отказать
      </button>
    </td>
    <td>
      <button
        data-target="makeOffer"
        class="btn"
        (click)="updateJoinedUserStatus(user.userEmail, 'Ожидает оплаты')"
      >
        Разрешить
      </button>
    </td>
    <td>
      <a class="waves-effect waves-light btn" [routerLink]="'/user-profile/'+user.userEmail">Открыть профиль</a>
    </td>
  </tr>
  </tbody>
</table>

<br/>
<a
  *ngIf="travel.isPublic"
  class="waves-effect waves-light btn"
  matTooltip="Скрыть поездку на карте"
  (click)="setTravelPublic(travel._id)"
>Скрыть
</a>
<a
  *ngIf="!travel.isPublic"
  class="waves-effect waves-light btn"
  (click)="setTravelPublic(travel._id)"
  matTooltip="Повторить поездку"
>Повторить</a>
<button
  class="waves-effect waves-light btn modal-trigger"
  data-target="editTravel"
  matTooltip="Редактировать поездку"
  (click)="openEditTravel(travel)"
>Редактировать
</button>
<br/>
<button
  *ngIf="checkAllUsersPayed() && travel.status !== 'started'"
  class="waves-effect waves-light btn"
  data-target="editTravel"
  matTooltip="Начать поездку"
  (click)="updateTravelStatus(travel._id, 'started')"
>Начать
</button>
<button
  *ngIf="travel.status === 'started'"
  class="waves-effect waves-light btn"
  data-target="editTravel"
  matTooltip="Начать поездку"
  (click)="updateTravelStatus(travel._id, 'ended')"
>Закончить
</button>
<hr/>
