
.card-cabinet {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  flex-wrap: wrap;
  width: 50%;
}
input[type=text] {
  width: 400px;
}
.mat-mini-fab:hover{
  background: #757575;
}
.image-preview{
  height: 6rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}
