<div class="cab-container">
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Профиль">
      <div class="card-cabinet">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          (mouseover)="changeBorderStyle()"
        >
          <div class="input-field">
            <div class="image-preview"
                 *ngIf="imagePreview !== '' && imagePreview !== null"
            >
              <img [src]="imagePreview" [alt]="form.value.title">
            </div>
            <i class="material-icons" (click)="fileAvatar.click()" matTooltip="Добавить аватар">add_a_photo</i>
            <input [hidden]="hide" type="file" (change)="onImageLoad($event)" #fileAvatar
            />
          </div>
          <div class="input-field">
            <input placeholder="ФИО" id="fio" type="text"
                   formControlName="fio"
                   [ngClass]="{invalid: f.fio.touched && f.fio.invalid}"
            >
            <span class="helper-text red-text"
                  *ngIf="f.fio.touched && f.fio.invalid">
       <small *ngIf="f.fio.hasError('required')">Поле не должно быть пустым</small>
      </span>
          </div>
          <div class="input-field">
            <span>Пол:</span>
            <p>
              <label>
                <input name="gender" formControlName="gender" value="Мужской" type="radio" checked/>
                <span>Мужской</span>
              </label>
            </p>
            <p>
              <label>
                <input name="gender" formControlName="gender" value="Женский" type="radio"/>
                <span>Женский</span>
              </label>
            </p>
          </div>

          <div class="input-field">
            <span>Возраст:</span>
            <p><label>
              <input placeholder="Возраст" id="age" type="text"
                     formControlName="age"
              >
            </label>
            </p>
          </div>
          <div class="input-field">
            <span>Техника и права:</span>
            <div formArrayName="technique" *ngFor="let technique of techList.controls; let i = index;">
              <div [formGroupName]="i">
                <input type="text" placeholder="Название техники" formControlName="name"
                       matTooltip="Указать технику, на которой оказываются услуги">
                <input type="text" placeholder="Права на управление" formControlName="license"
                       matTooltip="Указать категорию прав на управление">
                <div class="form-group">
                  <i #addTech class="material-icons" (click)="addTechnique()" matTooltip="Добавить технику">add_box</i>
                  <i class="material-icons" (click)="removeTechnique(i)" matTooltip="Удалить технику">remove_box</i>
                </div>
              </div>
            </div>
          </div>

          <div class="input-field">
            <p>
              <label>
                <input name="juridicalPerson" formControlName="juridicalPerson" value="Физическое лицо" type="radio"
                       checked/>
                <span>Физическое лицо</span>
              </label>
            </p>
            <p>
              <label>
                <input name="juridicalPerson" formControlName="juridicalPerson" value="Юридическое лицо" type="radio"/>
                <span>Юридическое лицо</span>
              </label>
            </p>
          </div>
          <button class="btn" type="submit" matTooltip="Сохранить изменения">Сохранить
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Рейтинг и отзывы">
      <h3><span class="mat-card-subtitle">Общий рейтинг: <b class="mat-title"> {{sumRating}}</b></span></h3>
      <div class="card-cabinet">
        <app-comment [reviews]="reviews" [ratings]="ratings" [sumRating]="sumRating"></app-comment>
      </div>
    </mat-tab>
    <mat-tab label="Мои отзывы">
      <app-my-reviews [userEmail]="email"></app-my-reviews>
    </mat-tab>
    <mat-tab label="Мои фото">
      <app-my-photo></app-my-photo>
    </mat-tab>
  </mat-tab-group>
</div>
