
.card-cabinet {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  transition: box-shadow .25s;
  border-radius: 2px;
  flex-wrap: wrap;
  flex-direction: column;
}
input[type=text] {
  max-width: 300px;
}

.mat-mini-fab:hover{
  background: var(--dark-color);
}
.image-preview{
  height: 6rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}
form {
  padding: 5px;
}
.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  //background: #111;
  color: var(--internal-light-dark);
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

div.stars {
  width: 270px;
  display: inline-block;
}
.mt10 {
  padding-top: 10px;
}
.mat-tab-group {
  width: 100%;
}
p {
  margin: 1px 1px 1px !important;
}
:host ::ng-deep td {
  padding: 1px 1px;
}
.ml5 {
  margin-left: 5px!important;
}
