<h1>Админка проверки отзывов</h1>
<div class="sortingBlock">
  <div class="input-field">
    <label *ngIf="!travelsOnPage">Кол-во поездок</label>
    <select [(ngModel)]="travelsOnPage">
      <option value="10">10 поездок</option>
      <option value="25">25 поездок</option>
      <option value="50">50 поездок</option>
      <option value="100">100 поездок</option>
    </select>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>Дата</th>
    <th>Поездка</th>
    <th>Средний рейтинг</th>
    <th>Отзывы</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let travel of travelsData | paginate: { itemsPerPage: travelsOnPage || defaultTravelsOnPage, currentPage: page }">
    <td>{{travel.date | date:'dd/MM/yyyy'}}</td>
    <td>
      <a [routerLink]="['/travel/'+travel._id]">
        <button class="btn">открыть поездку</button>
      </a>
    </td>
    <td>
      <app-average-rating [travelId]="travel._id" [userEmail]="travel.userEmail"></app-average-rating>
    </td>
    <td>
      <a [routerLink]="[travel._id]">
        <button class="btn">открыть отзывы</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls previousLabel="Предыдущая"
                     nextLabel="Следующая" (pageChange)="page = $event"
></pagination-controls>
