<h1>Админка проверки отзывов</h1>
<div class="sortingBlock">
  <div class="input-field">
    <label *ngIf="!travelsOnPage">Кол-во поездок</label>
    <select [(ngModel)]="travelsOnPage">
      <option value="10">10 поездок</option>
      <option value="25">25 поездок</option>
      <option value="50">50 поездок</option>
      <option value="100">100 поездок</option>
    </select>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>Поездка</th>
    <th>Отзывы</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let travel of travelsData | paginate: { itemsPerPage: travelsOnPage || defaultTravelsOnPage, currentPage: page }">
    <td>
      <button (click)="openTravel(travel.id)" class="btn">открыть поездку</button>
    </td>
    <td>
      <button (click)="openReviews(travel)" class="btn">открыть отзывы</button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls previousLabel="Предыдущая"
                     nextLabel="Следующая" (pageChange)="page = $event"
></pagination-controls>
