<div>
  <table matSort (matSortChange)="sortService.sortData($event)">
    <thead>
    <tr>
      <th mat-sort-header="number">№</th>
      <th mat-sort-header="image">Изображение</th>
      <th mat-sort-header="description">Описание</th>
      <th mat-sort-header="moderation">Модерация</th>
      <th mat-sort-header="public" matTooltip="Фото/видео отображается в живой ленте">Публичное</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let photo of userPhotos | paginate: {
              itemsPerPage: pageSize,
              currentPage: page
            }; let i = index;">
      <td>{{i + 1}}</td>
      <td class="image-preview"><img [src]="photo.imageSrc"></td>
      <td>{{photo.description}}</td>
      <td *ngIf="photo.moderation">{{'разрешено'}}</td>
      <td *ngIf="!photo.moderation">{{'на модерации'}}</td>
      <td *ngIf="photo.public">{{'опубликовано'}}</td>
      <td *ngIf="!photo.public">{{'не опубликовано'}}</td>
    </tr>
    </tbody>
  </table>
<!--  <span class="mt10"><button class="btn btn-dark" (click)="handlePageChange()">Загрузить еще</button></span>-->
</div>
<pagination-controls
  previousLabel="Назад"
  nextLabel="Вперед"
  (pageChange)="page = $event"
></pagination-controls>
