.image-preview{
  height: 6rem;
  margin: 1rem 0;
  //text-align: center;
}
.image-preview img {
  height: 100%;
  vertical-align: middle;
  border-radius: 2px;
}

.image-align{
  max-height: 240px;
  margin: auto;
}
.image-align img {
  max-height: 220px;
  vertical-align: middle;
  border-radius: 5px;
}

:host ::ng-deep a {
  position: relative!important;
}
.pl5 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.photo-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 320px;
}

@media screen and (max-width: 923px) {
  .photo-row {
    justify-content: center;
  }
  .btn-right {
    display: flex;
    justify-content: right;
    margin-right: 20px;
  }
}

.photo-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
:host ::ng-deep .card-panel {
   padding: 2px;
  //margin: 0;
//margin-left: 5px;
  margin-bottom: 1px;
  border-radius: 2px;
}

.checkbox-margin {
  margin: 0 10px;
}
:host ::ng-deep .mat-checkbox-inner-container-no-side-margin {
  margin-left: 20px;
  margin-right: 19px;
  padding-left: 20px;
  padding-top: 18px;
}
.btn-right {
  display: flex;
  justify-content: right;
}
.photo-column.card-panel {
  margin-left: .8rem;
}
.pl5.card-panel {
  padding-left: .8rem;
  padding-right: .8rem;
}
