<div class="container card-panel" *ngIf="!isOrganizer">
  <a class="waves-effect btn-primary waves-light btn-small" (click)="isVisible = !isVisible"><i class="material-icons left"><span class="material-icons">add_to_photos</span></i>{{isVisible ? 'Закрыть панель' : 'Добавить фото в ленту'}}</a>
<!--  <button class="btn" [class.btn-primary]="isVisible" (click)="isVisible = !isVisible">-->
<!--    {{isVisible ? 'Закрыть панель' : 'Добавить фото в ленту'}}</button>-->
  <div *ngIf="isVisible">
    <app-create-post [userEmail]="emailForPhoto"></app-create-post>
  </div>
  <table class="card-panel" matSort (matSortChange)="sortService.sortData($event)">
    <thead>
    <tr>
      <th class="p10" mat-sort-header="number">№</th>
      <th class="p10" mat-sort-header="image">Изображение</th>
      <th class="p10"  mat-sort-header="description">Описание</th>
      <th mat-sort-header="moderation" matTooltip="Одобрено ли модератором">Модерация</th>
      <th mat-sort-header="public" matTooltip="Фото/видео отображается в живой ленте">В ленте</th>
      <th matTooltip="Удаление фото">Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let photo of userPhotos | paginate: {
    id: 'photo',
              itemsPerPage: pageSizePhoto,
              currentPage: pagePhoto
            }; let i = index;">
      <ng-container *ngIf="!photo.queryDeleted">
      <td class="p10">{{i + 1}}</td>
      <td class="image-preview pointer"><img [src]="photo.imageSrc" lightbox [properties]=cristalLightboxProp></td>
      <td class="pl5"><app-read-more [text]="photo.description" [maxLength]="40"></app-read-more></td>
        <td [class.color-green]="photo.moderation" *ngIf="photo.moderation">{{'разрешено'}}</td>
      <td [class.color-red]="!photo.moderation" *ngIf="!photo.moderation">{{'на модерации'}}</td>
      <td><mat-checkbox matTooltip="Отключить показ в ленте?" color="checkbox-margin" [ngModel]="photo.public" id="{{photo.id}}"
                        (ngModelChange)="selectItem($event, photo.id)"></mat-checkbox>
      </td>
      <td><button mat-button class="btn-danger" matTooltip="Удалить изображение навсегда?" (click)="deleteImage(photo.id)"><mat-icon>delete</mat-icon></button></td>
      </ng-container>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="btn-right"><button class="btn btn-primary" matTooltip="Сохранить настройки" (click)="updatePhotoPublic()">Сохранить</button></span></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="isOrganizer">
<div class="photo-row card">
<div class="photo-column card-panel" *ngFor="let photo of userPhotos | paginate: {
               id: 'photo',
              itemsPerPage: pageSizePhoto,
              currentPage: pagePhoto
            };">
  <ng-container *ngIf="!photo.queryDeleted">
  <span class="image-align">
    <img class="pointer" [src]="photo.imageSrc" lightbox [properties]=cristalLightboxProp />
    </span>
  <span class="pl5 card-panel">
    <label>Описание</label>
    <app-read-more [text]="photo.description" [maxLength]="20"></app-read-more>
  </span>
  </ng-container>
</div>
</div>
</div>
<div class="paginator-container"><pagination-controls
  id = 'photo'
  previousLabel="Назад"
  nextLabel="Вперед"
  (pageChange)="pagePhoto = $event"
></pagination-controls></div>

