<div>
  Свободные места - {{travel.peoplesCount - getJoinedUsers().length}} / {{travel.peoplesCount }}
</div>
Статус - {{getTravelStatus()}}
<div *ngIf="getTravelStatus() === 'Отказано'">
  Описание отказа - {{getRejectReason()}}
</div>
<div *ngIf="getUserStatus() === 'Ожидает оплаты'">
  <button
    data-target="makeOffer"
    matTooltip="Оплатить поездку"
    class="btn"
    (click)="fakePay()"
  >
    Оплатить
  </button>
</div>
<div *ngIf="getUserStatus() === 'Оплачено'">
  <h3>Присоединившиеся пользователи</h3>
  <table>
    <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th *ngIf="travel.status === 'ended'">Оставить отзыв и рейтинг</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of getAcceptedUsers(), let j = index">
      <td>{{j + 1}}</td>
      <td (click)="openUserProfile(user.userEmail)">{{user.userEmail}}</td>
      <td *ngIf="travel.status === 'ended'">
        review and rating
      </td>
    </tr>
    </tbody>
  </table>
</div>
<hr/>
