<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="input-field col s12">
    <select formControlName="vacationType">
      <option value="" disabled selected>На чем вы хотите отправиться на отдых?</option>
      <option value="onfoot">Пешком</option>
      <option value="technique">На технике</option>
    </select>
  </div>
  <div>
    <a class="waves-effect waves-light btn">Указать на карте</a>
    <a class="waves-effect waves-light btn">Указать координаты</a>
  </div>
  <div class="input-field col s12">
    <select formControlName="target">
      <option value="" disabled selected>Для чего вы отправляетесь в это место?</option>
      <option value="tourism">Туризм</option>
      <option value="hunting">Охота</option>
      <option value="fishing">Рыбалка</option>
    </select>
  </div>
  <div class="input-field col s6">
    <input formControlName="peoplesCount" placeholder="укажите количество" id="peoples_count" type="number" class="validate">
    <label for="peoples_count">Сколько человек вы возьмете с собой</label>
  </div>
  <div class="input-field col s6">
    <input formControlName="costForPeople" placeholder="укажите цену" id="cost_for_people" type="number" class="validate">
    <label for="cost_for_people">Сколько будет стоить на 1 человека</label>
  </div>
  <div class="input-field col s12">
    <textarea formControlName="description" id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1">Укажите что необходимо взять человеку с собой</label>
  </div>
  <div>
    <a class="waves-effect waves-light btn">Отметить точку на карте</a>
  </div>
  <button class="waves-effect waves-light btn" type="submit">Предложить поездку</button>
</form>
