<mat-card class="list-card-width" *ngFor="let travels of data">
  <mat-card-title><img class="img-width" [src]="travels.imageSrc"></mat-card-title>
  <mat-card-title class="center-align">{{travels.name}}</mat-card-title>
  <mat-card-subtitle class="right-align"><b>Цена за чел.</b> {{travels.costPerPeople}}</mat-card-subtitle>
  <mat-card-subtitle class="right-align"><b>Кол-во чел.</b> {{travels.peoplesCount}}</mat-card-subtitle>
  <mat-card-content>
    <p><b>Куда:</b> {{travels.address}}</p>
    <p><b>Когда:</b> {{travels.date | date: 'dd.MM.yyyy'}}</p>
    <p>{{travels.description}}</p>
    <p><b>Техника:</b> {{travels.travelTechnique}}</p>
  </mat-card-content>
</mat-card>






