<div class="container">
  <table>
    <thead>
    <tr>
      <th>№</th>
      <th>Дата регистрации</th>
      <th>ФИО</th>
      <th>Подтвержден</th>
      <th>Написать жалобу</th>
      <th>Забанить</th>
      <th>Описание жалобы или бана</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <!--нужно вынести в отдельный компонент-->
      <td>1</td>
      <td>01.01.2022</td>
      <td>Иванов И.И.</td>
      <td><span>Да</span></td>
      <td><a class="waves-effect waves-light btn">Пожаловаться</a></td>
      <td><a class="waves-effect waves-light btn">Забанить</a></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate expedita, fugiat? Beatae minus nemo vel.</td>
    </tr>
    </tbody>
  </table>
</div>
