<h2>Модерация путешествий</h2>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="npp">Nпп</th>
    <th mat-sort-header="date">Дата</th>
    <th mat-sort-header="userEmail">Email орган</th>
    <th mat-sort-header="joinedUsers">Участники</th>
    <th mat-sort-header="description">Описание</th>
  </tr>

  <tr *ngFor="let travel of sortedData; let i = index">
    <td>{{i+1}}</td>
        <td>{{travel.date}}</td>
    <td>{{travel.userEmail}}</td>
    <td>
      <ul *ngFor="let joinUser of travel.joinedUsers">
        <li>
          {{joinUser.fio + ' ' + joinUser.userEmail}}
        </li>
      </ul>
    </td>
    <td><textarea name="textDesc" [(ngModel)]="textDesc"></textarea></td>
    <td><button matTooltip="Удалить поездку" class="btn">Удалить</button></td>
  </tr>
</table>
