<h2>Модерация путешествий</h2>
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="npp">№</th>
    <th mat-sort-header="date">Дата</th>
    <th mat-sort-header="name">Название</th>
    <th mat-sort-header="joinedUsers">Участники</th>
    <th mat-sort-header="description">Описание</th>
  </tr>

  <tr *ngFor="let travel of sortedData; let i = index">
    <td>{{i+1}}</td>
        <td>{{travel.date}}</td>
    <td><span class="pointer" (click)="openDialog(travel._id)">{{travel.name}}</span></td>
    <td>
      <ul *ngFor="let joinUser of travel.joinedUsers">
        <li>
          {{joinUser.fio}}
        </li>
      </ul>
    </td>
    <td><textarea name="textDesc" [(ngModel)]="textDesc"></textarea></td>
    <td><button matTooltip="Удалить поездку" class="btn">Удалить</button></td>
  </tr>
</table>
