::ng-deep.cdk-overlay-pane {
  max-width: 750px !important;
  width: 90%;
}

::ng-deep.mat-dialog-container {
  height: auto;
}

.travel-date {
  margin-left: 10px;
}

.mat-dialog-actions {
  display: block;
}

form {
  div {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

button {
  margin-right: 10px;
}

.rescheduleBlock {
  margin-top: 15px;
  margin-bottom: 20px !important;

  button {
    margin-right: 15px;
  }

  @media screen and (max-width: 550px) {
    button:first-child {
      margin-bottom: 10px;
    }
  }
}

.addPhoto {
  margin-right: 20px;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  height: 100%;
}
:host ::ng-deep .mat-dialog-container {
  width: auto;
}
::ng-deep.mat-form-field-flex {
  display: block;
}
.tech {
  display: flex;
  align-items: center;
  button {
    margin-right: 20px;
  }
  h4 {
    margin-bottom: 0px;
  }
}
