form {
  div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.makeOffer {
  margin-top: 50px;
}

.mapContainer {
  width: 100%;
  height: 500px;
}

.container {
  width: 1000px;
  height: 500px;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
}

.ymaps-2-1-79-controls__control_toolbar {
  display: none;
}

:host ::ng-deep .select-wrapper input.select-dropdown {
  width: 200px!important;
}

input[type=number] {
  max-width: 200px;
}
textarea {
  height: 100%;
}
.ml10 {
  margin-left: 10px!important;
}
