.userPage {
  //border: 1px solid #000;
  padding: 10px;
}

.span-text {
  display: block;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fio {
  font-size: 18px;
}

.image-preview{
  text-align: center;
  height: 6rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}

div.stars {
  width: 270px;
  display: inline-block;
}

.stars-container {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.reviewItem {
  margin-top: 3px;
  margin-bottom: 3px;
}

.reviewTitle {
  font-size: 16px;
}

h1 {
  margin: 0;
}
