<div *ngIf="userCabinet" class="userPage">
  <div class="image-preview">
    <img src="{{imagePreview}}" alt="avatar">
  </div>
  <strong class="span-text fio">{{userCabinet.fio || 'Не указано'}}</strong>
  <span class="span-text">Пол - {{userCabinet.gender || 'Не указан'}}</span>
  <span class="span-text">Дата регистрации {{userCabinet.date | date:'dd.MM.yyyy'}}</span>
  <div>
    <div>
      <span class="span-text">Средний рейтинг:</span>
      <div class="stars-container">
        <div class="stars">
          {{getAverageRating()}}
          <ngx-star-rating [(ngModel)]='averageRating' [id]="userCabinet.date" [disabled]="true"></ngx-star-rating>
        </div>
      </div>
    </div>
    <div>
      <strong class="span-text reviewTitle">Отзывы:</strong>
      <div *ngFor="let review of userCabinet.reviews | paginate: { itemsPerPage: 10, currentPage: reviewsPage }" class="flex">
        <div class="reviewItem">
          <strong>{{review.userEmail}} </strong>
          <span> - {{review.reviewText}}</span>
        </div>
      </div>
      <pagination-controls previousLabel="Предыдущая"
                           nextLabel="Следующая" (pageChange)="reviewsPage = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="!userCabinet">
  <h1>Пользователь не заполнил кабинет</h1>
</div>
