h1 {
  margin-top: 20px;
}

a {
  color: #FFFFFF;
}

.image-slider {
  width: 210px;
}

.sorting {
  display: none;
}

@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  tr td:last-child {
    border-bottom: 1px solid #000;
  }
  tr td {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    word-break: break-all;
  }
  tr td::before {
    font-weight: bold;
    width: 120px;
    min-width: 120px;
    margin-right: 20px;
  }

  .photosTable {
    table td:nth-child(1)::before {
      content: 'Дата';
    }

    table td:nth-child(2)::before {
      content: 'Email';
    }

    table td:nth-child(3)::before {
      content: 'ФИО';
    }

    table td:nth-child(4)::before {
      content: 'Контент';
    }

    table td:nth-child(5)::before {
      content: 'Описание';
    }

    table td:nth-child(6)::before {
      content: 'Опубликовать';
    }

    table td:nth-child(7)::before {
      content: 'Подтверить';
    }

    table td:nth-child(8)::before {
      content: 'Описание отказа публикации';
    }

    table td:nth-child(9)::before {
      content: 'Сохранить';
    }
  }

  .queryDeleteTable {
    table td:nth-child(1)::before {
      content: 'Дата';
    }

    table td:nth-child(2)::before {
      content: 'Email';
    }

    table td:nth-child(3)::before {
      content: 'Контент';
    }

    table td:nth-child(4)::before {
      content: 'Описание';
    }

    table td:nth-child(5)::before {
      content: 'Удалить';
    }
  }
  .sorting {
    display: flex;

    span:first-child {
      font-weight: bold;
      margin-right: 20px;
      font-size: 18px;
    }

    margin-bottom: 20px;
  }
}

input {
  margin-bottom: 0 !important;
}

.input-field:first-child {
  @media screen and (max-width: 420px) {
    width: 100%;
  }
  width: 500px;
  min-width: 300px;
}

table {
  .input-field {
    max-width: 200px !important;
    min-width: auto;
  }
}

.sortingBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


::ng-deep.mat-tab-body-content {
  height: auto !important;
  overflow: visible !important;
}

::ng-deep.mat-tab-body.mat-tab-body-active {
  overflow-y: visible;
}
