<mat-dialog-actions>
  <h1>Отзывы о поездке:</h1>
  <div>
    <table>
      <thead>
      <tr>
        <th>Дата</th>
        <th>Кто отправил</th>
        <th>Кому отправил</th>
        <th>Текст отзыва</th>
        <th>Удалить/Восстановить</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data.reviews">
        <td>{{item.date | date: 'dd.MM.yy'}}</td>
        <td>{{item.senderFIO}}</td>
        <td>{{item.receiverFIO}}</td>
        <td>{{item.reviewText}}</td>
        <td>
          <button class="btn">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button mat-dialog-close class="waves-effect waves-green btn">Закрыть</button>
  </div>
</mat-dialog-actions>
