<mat-dialog-actions>
  <form [formGroup]="rejectUserForm" (ngSubmit)="rejectFormSubmit()">
    <div class="modal-content">
      <h4>Напишите причину отказа</h4>
      <div class="input-field">
        <textarea formControlName="comment" id="rejectReason" class="materialize-textarea"></textarea>
        <label for="rejectReason">Причина отказа</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn">
        Отказать
      </button>
    </div>
  </form>
</mat-dialog-actions>
