<div class="travelItem">
  <div class="travelsList">
    <div>
      <strong matTooltip="Название поездки">{{travel.name}}</strong>
    </div>
    <div>
      <strong matTooltip="Дата начала поездки">{{travel.date | date:'dd/MM/yyyy'}}</strong>
    </div>
    <div>
      <app-read-more [text]="travel.description" [maxLength]="10"></app-read-more>
<!--      <strong matTooltip="Описание поездки">{{travel.description}}</strong>-->
    </div>
  </div>
  <hr/>
  <div *ngIf="userEmail === travel.userEmail" class="travel-item">
    <app-created-travel [getUserTravels]="getUserTravels"
                        [travel]="travel"
                        [userEmail]="userEmail"
    ></app-created-travel>
  </div>
  <div *ngIf="userEmail !== travel.userEmail" class="travel-item">
    <app-joined-travel [getUserTravels]="getUserTravels"
                       [travel]="travel"
                       [userEmail]="userEmail"
    ></app-joined-travel>
  </div>
</div>
