<hr/>
<div class="travelItem">
  <div class="travelsList">
    <div>
      <strong>{{travel.title}}</strong>
    </div>
    <div>
      <strong>{{travel.date | date:'dd/MM/yyyy'}}</strong>
    </div>
    <div>
      <strong>{{travel.description}}</strong>
    </div>
  </div>
  <div *ngIf="userEmail === travel.userEmail" class="travel-item">
    <app-created-travel [getUserTravels]="getUserTravels" [travel]="travel" [userEmail]="userEmail" [setTravelPublic]="setTravelPublic" [openEditTravel]="openEditTravel"></app-created-travel>
  </div>
  <div *ngIf="userEmail !== travel.userEmail" class="travel-item">
    <app-joined-travel [getUserTravels]="getUserTravels" [travel]="travel" [userEmail]="userEmail"></app-joined-travel>
  </div>
</div>
