<mat-dialog-actions>
  <form [formGroup]="techniqueForm" (ngSubmit)="techniqueFormSubmit()">
    <div>
      <h1>Добавьте технику</h1>
      <div formArrayName="technique" *ngFor="let technique of techList.controls; let i = index;">
        <div [formGroupName]="i">
          <label (change)="selectTransport(i, technique.value.selected)">
            <input type="checkbox" [checked]="technique.value.selected"/>
            <span>Выбрать</span>
          </label>
          <input type="text" placeholder="Название техники" formControlName="name"
                 matTooltip="Указать технику, на которой оказываются услуги">
          <input type="text" placeholder="Права на управление" formControlName="license"
                 matTooltip="Указать категорию прав на управление">
          <div class="form-group">
            <i class="material-icons" (click)="removeTechnique(i)" matTooltip="Удалить технику">remove_box</i>
          </div>
        </div>
      </div>
      <i class="material-icons" (click)="addTechnique()" matTooltip="Добавить технику">add_box</i>
      <div>
        <button id="close-tech-modal" class="waves-effect waves-light btn modal-close" type="button">Отмена</button>
        <button class="waves-effect waves-light btn" type="submit">Выбрать и Сохранить</button>
      </div>
    </div>
  </form>
</mat-dialog-actions>
