.page-footer {
  background: var(--dark-color)!important;
}
@media only screen and (max-width: 823px)
{
  .page-footer {
    height: 300px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.container {
  min-height: auto;
  padding-bottom: 0;
}

@media only screen and (max-width: 823px)
{
  .container {
    min-height: auto;
  }
}
