.chat {
  margin-top: 1rem;
}

div.chat-content {
  border-radius: .25rem;
  margin-bottom: 2rem;
}

.card {
  height: 40rem;
  padding: 0 10px;
  overflow: auto;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  margin: 0 auto;
  width: 300px;

  img {
    width: 100%;
  }
}

.list-group-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.container {
  min-height: calc(100vh - 140px);
}

.likeBlock {
  display: flex;
  align-items: center;
}

.photoDataBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.photoDescription {
  font-size: 20px;
}

.descriptionBlock {
  margin-top: 10px;
}

.comment-icon {
  margin-left: 10px;
}

.writeCommentBlock {
  display: flex;
  align-items: center;

  .input-field  {
    margin-right: 15px;
  }
}

.search-results {
  height: 100px;
  overflow: scroll;
}

.addPhotoBlock {
  span {
    margin-right: 10px;
    font-size: 16px;
  }
  display: flex;
  align-items: center;
}

//

.photoCard {
  width: 45%;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.contentContainerBlock {
  width: 45%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-auto-rows: 50px;
  grid-gap: 10px;
}

.gridItem {
  display: inline-block;
  //min-height: 300px;
  //grid-row: span 5;
  img {
    height: 100%;
  }
}
