.container {
  margin-top: 1rem;
  min-height: calc(100vh - 140px);
}

.live-feed {
  border-radius: .25rem;
  margin-bottom: 2rem;
  height: 40rem;
  padding: 10px 10px;
  overflow: auto;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.feedItem {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.feedItemData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.feedItemPhoto {
  width: 305px;
  margin: 0 auto;
}

.feedItemDescription {
  font-size: 16px;
  margin-top: 10px;
}

.feedbackBlock {
  display: flex;
  align-items: center;
}

.feedItemFeedback {
  display: flex;
  align-items: center;
  background: #F0F2F5;
  border-radius: 20px;
  padding: 5px 10px;

  span {
    display: block;
    margin-left: 5px;
    font-size: 17px;
  }
}

.feedItemCommentsIcon {
  margin-left: 15px;
}

.feedItemComments {
  margin-top: 15px;

  .feedItemComment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .commentEmail {
      font-size: 12px;
      line-height: 12px;
    }

    .commentValue {
      font-size: 16px;
    }
  }
}

.writeCommentBlock {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  margin: 0 auto;
  width: 300px;

  img {
    width: 100%;
  }
}

.list-group-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.likeBlock {
  display: flex;
  align-items: center;
}

.descriptionBlock {
  margin-top: 10px;
}

.search-results {
  height: 100px;
  overflow: scroll;
}

.addPhotoBlock {
  span {
    margin-right: 10px;
    font-size: 16px;
  }

  display: flex;
  align-items: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
}
