.chat {
  margin-top: 1rem;
}

div.chat-content {
  border-radius: .25rem;
  margin-bottom: 2rem;
}

.card {
  height: 40rem;
  padding: 0 20px;
  overflow: auto;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  margin: 0 auto;
  width: 300px;

  img {
    width: 100%;
  }
}

.list-group-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.container {
  min-height: calc(100vh - 140px);
}

.likeBlock {
  display: flex;
  align-items: center;
}

.photoDataBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.photoDescription {
  font-size: 20px;
}

.descriptionBlock {
  margin-top: 10px;
}

.comment-icon {
  margin-left: 10px;
}

.writeCommentBlock {
  display: flex;
  align-items: center;

  .input-field  {
    margin-right: 15px;
  }
}

.search-results {
  height: 100px;
  overflow: scroll;
}

.addPhotoBlock {
  span {
    margin-right: 10px;
    font-size: 16px;
  }
  display: flex;
  align-items: center;
}
