<h1>Таблица проверки фото и видео</h1>
<div class="sortingBlock">
  <div class="input-field">
    <input [(ngModel)]="searchValue" id="search_input" type="text" class="validate">
    <label for="search_input">Поиск по Email или ФИО</label>
  </div>
  <div class="input-field">
    <label *ngIf="!postsOnPage">Кол-во постов</label>
    <select [(ngModel)]="postsOnPage">
      <option value="10">10 постов</option>
      <option value="25">25 постов</option>
      <option value="50">50 постов</option>
      <option value="100">100 постов</option>
    </select>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>№</th>
    <th>Дата</th>
    <th>Email</th>
    <th>ФИО</th>
    <th>Контент</th>
    <th>Описание</th>
    <th>Опубликовать</th>
    <th>Подтверждить</th>
    <th>Описание отказа</th>
    <th>Сохранить</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let item of photosData | searchFilter: searchValue | paginate: { itemsPerPage: postsOnPage || defaultPostsOnPage, currentPage: page }, let i=index;">
    <td>{{i + 1}}</td>
    <td>{{item.date | date:'dd/MM/yyyy'}}</td>
    <td>{{item.userEmail}}</td>
    <td>{{item.fio}}</td>
    <td>
      <div class="imageBlock">
        <ng-image-slider [imageSize]="{width: 100, height: 100}"
                         [images]="[{image: item.imageSrc, thumbImage: item.imageSrc, alt: item.description}]"
                         #nav></ng-image-slider>
      </div>
    </td>
    <td>{{item.description}}</td>
    <td>
      <label>
        <input checked="{{item.public ? 'checked' : ''}}" (click)="setPublic(item.photoId, !item.public)"
               type="checkbox"/>
        <span>Опубликовать</span>
      </label>
    </td>
    <td>
      <label>
        <input checked="{{item.moderation ? 'checked' : ''}}" (click)="setModeration(item.photoId,!item.moderation)"
               type="checkbox"/>
        <span>Подтвердить</span>
      </label>
    </td>
    <td>
      <div class="input-field">
        <textarea [(ngModel)]="item.banDescription" id="textarea1" class="materialize-textarea"></textarea>
        <span class="helper-text">Описание отказа публикации</span>
      </div>
    </td>
    <td>
      <a class="waves-effect waves-light btn" (click)="updatePhotoInfo(item)">Сохранить</a>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls previousLabel="Предыдущая"
                     nextLabel="Следующая" (pageChange)="page = $event"></pagination-controls>
