<mat-list class="map-container card-panel">
  <mat-list-item *ngFor="let userData of user">
    <div mat-line><b>ФИО:</b> {{ userData.fio}}</div>
    <div mat-line><b>Возраст:</b> {{ userData.age }}</div>
    <div mat-line><b>Техника:</b>
      <span *ngFor="let technika of technique"> {{technika.name}}</span>
    </div>
    <div mat-line><a class="waves-effect waves-light btn red" matTooltip="Присоединиться к поездке" (click)="goTravel()"><i class="material-icons left">add</i>Присоединиться</a></div>
  </mat-list-item>
  <div>
    <app-comment [reviews]="reviews" [ratings]="ratings"></app-comment>
  </div>
</mat-list>
