<mat-tab-group mat-align-tabs="end">
  <mat-tab label="Информация">
<mat-list class="map-container card-panel">
  <mat-list-item *ngFor="let userData of user">
    <div mat-line><b>ФИО:</b> {{userData.fio !=='undefined' ? userData.fio : 'Не указано'}}</div>
    <div mat-line><b>Возраст:</b> {{ userData.age !=='undefined' ? userData.age : 'Не указан' }}</div>
    <div mat-line><b>Пол:</b> {{ userData.gender !=='undefined' ? userData.gender : 'Не указано'}}</div>
    <div mat-line><b>Дата регистрации:</b> {{' ' + userData.date | date:'dd.MM.yyyy'}}</div>
    <div mat-line *ngIf="userData.inn"><b>Юридическое лицо:</b> {{ userData.juridicalPerson !=='undefined' ? userData.juridicalPerson : 'Не указано'}}<br>
    <span mat-line><b>ИНН:</b> {{ userData.inn !=='undefined' ? userData.inn : 'Не указано'}} </span>
      <span mat-line><b>ИНН:</b> {{ userData.kpp !=='undefined' ? userData.kpp : 'Не указано'}} </span>
    </div>
    <div mat-line><b>Техника:</b>
      <ul *ngIf="technique.length !== 0">
        <span *ngFor="let technika of technique; let i = index"><li>{{i+1 +'. ' + technika.name}}</li></span>
      </ul>
      <span *ngIf="technique.length === 0">Техника не указана</span>
    </div>
    <br><div mat-line><button [disabled]="isOwnTravel" class="waves-effect waves-light btn red" matTooltip="Присоединиться к поездке" (click)="goTravel()"><i class="material-icons left">add</i>Присоединиться</button></div>
  </mat-list-item>

</mat-list>
    <mat-tab label="Отзывы">
      <div>
        <app-comment [reviews]="reviews" [ratings]="ratings"></app-comment>
      </div>
    </mat-tab>
  </mat-tab>
  <mat-tab label="Фото">
    <app-my-photo [onlyModerated]="true" [organizerEmail]="organizerEmail"></app-my-photo>
  </mat-tab>
</mat-tab-group>
