.chat {
  margin-top: 1rem;
}

div.chat-content {
  border-radius: .25rem;
  height: 40rem;
  margin-bottom: 2rem;
}
.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.user-container {
  padding: 10px;
  margin: 10px 0;
}
.chat-container::after {
  content: "";
  clear: both;
  display: table;
}
.time-right {
  float: right;
  color: #aaa;
}
.user-left {
  float: left;
  color: #999;
}
.user-left:hover{
  color: var(--button-color);
  cursor: pointer;
}
а:active{
  color: var(--success-color);
}
.darker {
  color: var(--dark-color);
}
.darker:hover{
  color: var(--success-color);
}
.darker:focus{
  color: var(--success-color);
}
.card {
  height: 100%;
  overflow: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col-users{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80%;
}
.flex-col-chats{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea {
  overflow: auto;
}
