<div class="flex-row">
  <div class="flex-col-users">
    <div class="chat">
      <div class="chat-content">
        <div  class="card">
          <ul >
            <li class="user-container">
              <span *ngFor="let email of getUniqueReceiver()" class="user-left" (click)="addReceiverEmail(email)">{{email}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col-chats">
    <div class="chat">
      <div class="chat-content">
        <div class="card">
          <ul *ngFor="let info of getInfoWithChatDto()">
            <li class="chat-container">
              <span class="user-left">{{info.email}} </span>
              <span class="p10">{{info.message}} </span>
              <span class="time-right">{{info.date | date: 'd.MM.YY HH:mm'}} </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-col">
  <div>
    <input [disabled]="true" type="text" class="mat-form-field-autofill-control" [value]="getUserEmail()">
  </div>
  <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
    <div class="row">
      <div>
        <textarea placeholder="Напишите сюда сообщение" type="text" class="mat-form-field-autofill-control" name="message" id="input-message" ngModel></textarea>
      </div>
      <div>
        <button type="submit" class="btn">Отправить</button>
      </div>
    </div>
  </form>
</div>
