<form class="card"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input id="email" type="text"
             class="validate"
             formControlName="email"
             [ngClass]="{invalid: f.email.touched && f.email.invalid}"
      >
      <label for="email">Email:</label>
      <span class="helper-text red-text"
            *ngIf="f.email.touched && f.email.invalid">
       <small *ngIf="f.email.hasError('required')">Email не должен быть пустым</small>
       <small *ngIf="f.email.hasError('email')">Введите корректный email</small>
      </span>
    </div>
    <div class="input-field">
      <input id="password" formControlName="password"
             minlength="6"
             [ngClass]="{invalid: f.password.touched && f.password.invalid}"
             [type]="hide ? 'password' : 'text'"
      >
<label for="password">Пароль:</label>
      <span class="placeholder small material-icons"
            (click)="showPassword()">{{hide ? 'visibility_off' : 'visibility'}}</span>
      <span class="helper-text red-text"
            *ngIf="f.password.touched && f.password.invalid">
       <span *ngIf="f.password.hasError('required')">Пароль не должен быть пустым</span>
       <span *ngIf="f.password.hasError('minlength')">Пароль должен быть больше 6 символов.</span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
    >Войти
    </button>
  </div>
</form>
