<h1>Таблица всех пользователей</h1>
<div class="sortingBlock">
  <div class="input-field">
    <input [(ngModel)]="searchValue" id="search_input" type="text" class="validate">
    <label for="search_input">Поиск по Email или ФИО</label>
  </div>
  <div class="input-field">
    <label *ngIf="!usersOnPage">Кол-во пользователей</label>
    <select [(ngModel)]="usersOnPage">
      <option value="10">10 пользователей</option>
      <option value="25">25 пользователей</option>
      <option value="50">50 пользователей</option>
      <option value="100">100 пользователей</option>
    </select>
  </div>
</div>
<div class="sorting" matSort (matSortChange)="sortData($event)">
  <span>Сортировка: </span>
  <span mat-sort-header="number">Номер</span>
  <span mat-sort-header="email">Email</span>
  <span mat-sort-header="banned">Забанен</span>
</div>
<table matSort (matSortChange)="sortData($event)">
  <thead>
  <tr>
    <th mat-sort-header="number">№</th>
    <th mat-sort-header="email">Email</th>
    <th>Дата регистрации</th>
    <th>ФИО</th>
    <th>Роль</th>
    <th mat-sort-header="banned">Забанен</th>
    <th>Забанить</th>
    <th>Список жалоб</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="
let user of sortedData | searchFilter: searchValue | paginate: { itemsPerPage: usersOnPage || defaultUsersOnPage, currentPage: page }; let i=index;">
    <td>{{i + 1}}</td>
    <td>{{user.email}}</td>
    <td>{{user.registrationDate | date:'dd/MM/yyyy'}}</td>
    <td>{{user.fio}}</td>
    <td>
      <mat-form-field>
        <mat-select [(value)]="user.role" placeholder="{{user.role}}">
          <mat-option value="USER">USER</mat-option>
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="MODERATOR">MODERATOR</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn-small" (click)="updateRole(user.email, user.role)">сохранить</button>
    </td>
    <td>
      <span *ngIf="user.banned">Да</span>
      <span *ngIf="!user.banned">Нет</span>
    </td>
    <td>
      <button (click)="unBanUserByEmail(user.email, i)" class="waves-effect waves-light btn-small"
              *ngIf="user.banned">
        Разбанить
      </button>
      <button (click)="banUserByEmail(user.email, i)" class="waves-effect waves-light btn-small"
              *ngIf="!user.banned">
        Забанить
      </button>
    </td>
    <td>
      <a [routerLink]="['/administrator/complaints/' + user.email]">
        <button class="waves-effect waves-light btn-small">Открыть</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls previousLabel="Предыдущая"
                     nextLabel="Следующая" (pageChange)="page = $event"></pagination-controls>

