<div class="container">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="number">№</th>
      <th mat-sort-header="email">Email</th>
      <th>Дата регистрации</th>
      <th>ФИО</th>
      <th mat-sort-header="banned">Забанен</th>
      <th>Забанить</th>
      <th>Список жалоб</th>
    </tr>
    <tr *ngFor="let value of sortedData | paginate: { itemsPerPage: 10, currentPage: page }; let i=index;">
      <td>{{i + 1}}</td>
      <td>{{value.email}}</td>
      <td>{{value.date | date:'dd/MM/yyyy'}}</td>
      <td>{{value.fio}}</td>
      <td>
        <span *ngIf="value.banned">Да</span>
        <span *ngIf="!value.banned">Нет</span>
      </td>
      <td>
        <button (click)="unBanUserByEmail(value.email, i)" class="waves-effect waves-light btn-small"
                *ngIf="value.banned">
          Разбанить
        </button>
        <button (click)="banUserByEmail(value.email, i)" class="waves-effect waves-light btn-small"
                *ngIf="!value.banned">
          Забанить
        </button>
      </td>
      <td>
        <a [routerLink]="['/administrator/complaints/' + value.email]">
          <button class="waves-effect waves-light btn-small">Открыть</button>
        </a>
      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
