<div class="container">
  <h1>Таблица всех пользователей</h1>
  <div class="input-field col s6">
    <input [(ngModel)]="searchValue" id="search_input" type="text" class="validate">
    <label for="search_input" >Поиск по Email или ФИО</label>
  </div>
  <div class="sorting" matSort (matSortChange)="sortData($event)">
    <span>Сортировка: </span>
    <span mat-sort-header="number">Номер</span>
    <span mat-sort-header="email">Email</span>
    <span mat-sort-header="banned">Забанен</span>
  </div>
  <table matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <th mat-sort-header="number">№</th>
      <th mat-sort-header="email">Email</th>
      <th>Дата регистрации</th>
      <th>ФИО</th>
      <th mat-sort-header="banned">Забанен</th>
      <th>Забанить</th>
      <th>Список жалоб</th>
    </tr>
    </thead>
    <tr *ngFor="
let value of sortedData | searchFilter: searchValue | paginate: { itemsPerPage: 10, currentPage: page }; let i=index;">
      <td>{{i + 1}}</td>
      <td>{{value.email}}</td>
      <td>{{value.date | date:'dd/MM/yyyy'}}</td>
      <td>{{value.fio}}</td>
      <td>
        <span *ngIf="value.banned">Да</span>
        <span *ngIf="!value.banned">Нет</span>
      </td>
      <td>
        <button (click)="unBanUserByEmail(value.email, i)" class="waves-effect waves-light btn-small"
                *ngIf="value.banned">
          Разбанить
        </button>
        <button (click)="banUserByEmail(value.email, i)" class="waves-effect waves-light btn-small"
                *ngIf="!value.banned">
          Забанить
        </button>
      </td>
      <td>
        <a [routerLink]="['/administrator/complaints/' + value.email]">
          <button class="waves-effect waves-light btn-small">Открыть</button>
        </a>
      </td>
    </tr>
  </table>
  <pagination-controls previousLabel="Предыдущая"
                       nextLabel="Следующая" (pageChange)="page = $event"></pagination-controls>
</div>
