::ng-deep.cdk-overlay-pane {
  max-width: 750px !important;
  width: 90%;
}

.input-field {
  margin-top: 0;
}

:host::ng-deep.mat-dialog-actions {
  display: block;
}

form {
  button {
    margin-bottom: 10px;
  }

  div {

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.coords {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;

  button {
    margin-left: 10px;
    margin-bottom: 0;
  }
}

button {
  margin-right: 10px;
}

.rescheduleBlock {
  margin-top: 15px;
  margin-bottom: 30px !important;

  button {
    margin-right: 15px;
  }
}

.addPhoto {
  margin-right: 20px;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  height: 100%;
}

.travelName.input-field > label:not(.label-icon).active {
  transform: translateY(0px) scale(0.8);
  transform-origin: 0 0;
}

.input-width {
  margin-right: 20px !important;
}

.row {
  margin-bottom: 0;
}
