<nav class="top-menu">
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li class="active"><a href="#">Живая лента</a></li>
            <li><a href="#">Отправиться на отдых</a></li>
            <li><a href="#">Предложить место отдыха</a></li>
            <li><a href="#">Личный кабинет</a></li>
            <li><a href="#">Чат</a></li>
        </ul>
        <span data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></span>
    </div>
</nav>


<ul class="sidenav" id="mobile-demo">
    <li class="active"><a href="#">Живая лента</a></li>
    <li><a href="#">Отправиться на отдых</a></li>
    <li><a href="#">Предложить место отдыха</a></li>
    <li><a href="#">Личный кабинет</a></li>
    <li><a href="#">Чат</a></li>
</ul>