.placeholder.small.material-icons {
  cursor: pointer;
}
.placeholder{
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 320px;
  margin: auto;
}

.restore-password {
  color: #000 !important;
  margin-right: 0 !important;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
