<mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-container"
  [(ngModel)]="valueRadio"
>
  <mat-radio-button class="radio-button" (click)="valueRadio=''"><b>Все поездки</b></mat-radio-button>
  <div *ngFor="let review of reviews | duplicateRating: 'review'">
    <mat-radio-button class="radio-button" [value]="review">
      <span>{{review}}</span>
    </mat-radio-button>
  </div>
</mat-radio-group>

<div class="stars-align">
  <div class="stars" *ngFor="let item of ratings | search: valueRadio">
    <ngx-star-rating [(ngModel)]="item.sumValue" [id]="item.travelId" [disabled]="true"></ngx-star-rating>
    <p class="mat-card-subtitle center-align">{{item.travelName + ': ' + item.sumValue}}</p>
  </div>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSizeReview"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator>
<div class="reviewView-container">
  <div class="align-column" *ngFor="let review of reviews | search: valueRadio | paginate: {
              itemsPerPage: pageSize,
              currentPage: page
            }">
    <div class="date">
      <mat-icon>rate_review</mat-icon>
      {{review.date | date: 'dd.MM.yyyy hh:mm'}}
      <span class="sender">От кого: {{review.userEmail}}</span>
    </div>
    <div class="reviewText mat-card-subtitle">{{review.travelName}}</div>
    <div class="reviewText">{{review.reviewText}}</div>
  </div>
</div>
<pagination-controls
  previousLabel="Назад"
  nextLabel="Вперед"
  (pageChange)="page = $event"
></pagination-controls>
