.date {
  font-size: .8rem;
  font-weight: bold;
  color: var(--button-color);
}
.sender {
  font-size: .8rem;
  font-weight: bold;
  color: var(--dark-color);
}
.reviewText {
  padding-left: 2rem;
}
.review-container {
  padding-top: .8rem;
}
