<div class="map-container card-panel">
  <div class="list-container">
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="valueRadio"
    >
      <mat-radio-button class="radio-button" (click)="valueRadio=''"><b>Все поездки</b></mat-radio-button>
      <div *ngFor="let place of categoryTravels">
        <mat-radio-button class="radio-button" [value]="place">
          {{place}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="yandex-container">
    <ya-map [center]="[54.83, 37.11]" [zoom]="1"
            (ready)="onMapReady($event)"
            (yaclick)="onMapClick($event)"

    >
      <div *ngFor="let coordinate of travels | search: valueRadio">
        <ya-placemark *ngFor="let endPoint of coordinate.endPoint"
                      [geometry]="[endPoint.latitude, endPoint.longitude]" [properties]="{
    balloonContentHeader: coordinate.name,
    balloonContentBody: '<div class=text-limit>' +
    '<img src=' + coordinate.imageSrc + ' width=100px />' + '<br/>' + '<b>Адрес:</b> ' + coordinate.address
     + '<br/><b>Описание:</b> ' + '<span class=text-limit>' + coordinate.description + '</span>'
     + '<br><b>Когда:</b> ' + coordinate.date + '<br><b>Мест:</b> ' + coordinate.peoplesCount,
    balloonContentFooter: '<b>Цена за чел:</b> ' + coordinate.costPerPeople + '<br/><a href=/join/' + coordinate.url + ' target=_blank' +'>Присоединиться к поездке</a>'  + '</div>',
    hintContent: 'Место: ' + coordinate.address}"
                      [options]="{
                      preset: 'islands#orangeDotIcon'
        }"
                      (yamouseenter)="onMouse($event, 'enter', coordinate.id)"
                      (yamouseleave)="onMouse($event,'leave',coordinate.id)"
        >
        </ya-placemark>
      </div>
      <ya-placemark
        *ngFor="let placemark of placemarks"
        [geometry]="placemark.geometry"
        [properties]="placemark.properties"
        [options]="placemark.options"
      ></ya-placemark>
    </ya-map>
  </div>
</div>
<div class="map-container card-panel">
  <div class="mat-list-base p10" *ngFor="let travel of travels | search: valueRadio | paginate: {
              itemsPerPage: pageSize,
              currentPage: page
            }">
    <app-list-descriptions [travels]="travel" [idForSelect] = "idTrainForSelect"></app-list-descriptions>
  </div>
</div>
<div>
  <pagination-controls
    previousLabel="Назад"
    nextLabel="Вперед"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
