<div class="map-container card-panel">
  <div class="list-container">
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="valueRadio"
    >
      <mat-radio-button class="radio-button" (click)="valueRadio=''"><b>Все поездки</b></mat-radio-button>
      <div *ngFor="let place of categoryTravels">
        <mat-radio-button class="radio-button" [value]="place" (change)="setDefaultSettings()">
          {{place}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="yandex-container">
    <ya-map [center]="[54.83, 37.11]"
            (ready)="onMapReady($event)"
    >
      <ng-container *ngIf="travels">
        <div *ngFor="let coordinate of travels | search: valueRadio">
          <ya-placemark *ngFor="let endPoint of coordinate.endPoint"
                        [geometry]="[endPoint.latitude, endPoint.longitude]" [properties]="{
    balloonContentHeader: coordinate.name,
    balloonContentBody: '<div class=balloon__content>' +
    '<div class=text-column><img src=' + coordinate.imageSrc + ' width=100px />' + '<br/>'
    + '<b>Адрес:</b> ' + coordinate.address
    + '<br/><b>Откуда:</b> ' + coordinate.fromAddress
     + '<br/><b>Описание:</b> ' + '<span class=text-limit>' + coordinate.description + '</span>'
     + '<br><b>Когда:</b> ' + coordinate.date + '<br><b>Мест:</b> ' + coordinate.peoplesCount + '</div>' +
     '<div class=text-column>'
     +'<b>Организатор</b>'
     + '<br><b>ФИО:</b>' + '&nbsp;' + coordinate.organizerInfo.fio
     + '<br><b>Возраст:</b>' + '&nbsp;' + coordinate.organizerInfo.age
     + '<br><b>Рейтинг:</b>' + '&nbsp;' + coordinate.organizerInfo.sumRating
     + '<br><span class=rating-star' + ' ' + 'style=color:gold;' + ' ' +'>' + '&nbsp;' + coordinate.organizerInfo.templateRatings + '</span>'
     + [email===coordinate.userEmail ? ' ' : '<br><a href=/join/' + coordinate.url + ' target=_blank' +'>&nbsp;Подробнее</a>']
     + [email===coordinate.userEmail ? ' ' :'<button id=message class=btn-primary>Написать в чат</button>']
     + '</div></div>',
    balloonContentFooter: '<div class=balloon-content__footer><b>Цена за чел:</b> '
    + coordinate.costPerPeople
    + [email===coordinate.userEmail ? '<span style=color:red >&nbsp;&nbsp;Это ваша поездка</span>' : '<br/><a href=/travel/' + coordinate.url + ' target=_blank'
    +'>&nbsp;&nbsp;Присоединиться к поездке</a>']
    +'</div>',
    hintContent: 'Место: ' + coordinate.address}"
                        [options]="{
                      preset: 'islands#orangeDotIcon'
        }"
                        (yacontextmenu)="onContextMenu($event, coordinate._id)"
                        (balloonopen)="onClickPlacemarkButton(coordinate.userEmail)"
          >
          </ya-placemark>
        </div>
      </ng-container>
      <ya-placemark *ngIf="placemarks"
                    [geometry]="placemarks.geometry"
                    [properties]="placemarks.properties"
                    [options]="placemarks.options"
      ></ya-placemark>
    </ya-map>
  </div>
</div>
<div class="map-container card-panel">
  <ng-container *ngIf="travelList.length === 0">
    <div class="mat-list-base p10" *ngFor="let travel of travels | search: valueRadio | paginate: {
              itemsPerPage: pageSize,
              currentPage: page
            }">
      <app-list-descriptions [travels]="travel" (chatMessageSuccess)="getMessageChat()"></app-list-descriptions>
    </div>
  </ng-container>
  <ng-container *ngIf="travelList.length > 0">
    <div class="mat-list-base p10" *ngFor="let travel of travelList | search: valueRadio | paginate: {
              itemsPerPage: pageSize,
              currentPage: page
            }">
      <app-list-descriptions [travels]="travel"></app-list-descriptions>
    </div>
  </ng-container>
</div>
<div>
  <pagination-controls
    previousLabel="Назад"
    nextLabel="Вперед"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
