<h1>Жалобы пользователя {{email}}</h1>
<table>
  <thead>
  <tr>
    <th>№</th>
    <th>Отправитель</th>
    <th>Текст жалобы</th>
    <th>Удалить жалобу</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let complaint of complaints;let i=index;">
    <td>
      {{i + 1 }}
    </td>
    <td>
      {{complaint.senderEmail}}
    </td>
    <td>
      {{complaint.description}}
    </td>
    <td>
      <button (click)="deleteComplaint(email, complaint._id)" class="waves-effect waves-light btn-small">
        Удалить
      </button>
    </td>
  </tr>
  </tbody>
</table>
