<form [formGroup]="form" (ngSubmit)="createPost()">
  <div class="card-panel">
    <div class="card inner-card-align">
    <div class="addPhoto">
      <span>Добавить изображение:</span>
      <i class="material-icons" [class.btn-danger]="filename" (click)="file.click()" matTooltip="Добавить фото в живую ленту">add_a_photo</i>
      <span *ngIf="filename">&nbsp;Файл {{ filename }} прикреплен</span>
      <input [hidden]="true" type="file" (change)="onFileLoad($event)" #file/>
    </div>
    <div class="openMap">
      <span>Указать место на карте:</span>
      <i class="material-icons" (click)="openMap()" matTooltip="Обязательно указать место, где сделано фото">&nbsp;&nbsp;add_location</i>
    </div>
    <div class="col-2">
      <input disabled type="text" class="form-control" name="user" id="input-user" [value]="userEmail">
    </div>
    <div class="col-8">
            <textarea id="input-message" class="materialize-textarea" type="text" formControlName="description"
                      name="message"></textarea>
    </div>
    <button type="submit" matTooltip="Нужно обязательно указать место съемки" class="btn btn-primary">Отправить</button>
    </div>
    </div>
</form>
